@model TestCase.Models.UsersGuests
@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<div class="container">
    <h2 class="text-info">Edit Admin User</h2>

    <form method="post" asp-action="Edit" style="background-color:#75afa752">
        <div class="p-5 border rounded">
            <input type="hidden" asp-for="Id" />
            <div class="form-group row">
                <div class="col-2">
                    <label asp-for="Name">Name:</label>
                </div>
                <div class="col-8">
                    <input asp-for="Name" class="form-control" />
                </div>
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group row">
                <div class="col-2">
                    <label asp-for="Email">Email:</label>
                </div>
                <div class="col-8">
                    <input asp-for="Email" class="form-control" />
                </div>
            </div>
            <div class="form-group row">
                <div class="col-2">
                    <label asp-for="Phone">Phone:</label>
                </div>
                <div class="col-8">
                    <input asp-for="Phone" class="form-control" />
                </div>
                <span asp-validation-for="Phone" class="text-danger"></span>
            </div>
            <div class="form-group row">
                <div class="col-2">
                    <label asp-for="UserName">User:</label>
                </div>
                <div class="col-8">
                    <input asp-for="UserName" class="form-control" />
                </div>
            </div>
            <div class="form-group row">
                <div class="col-2">
                    <label asp-for="Password">Password:</label>
                </div>
                <div class="col-8">
                    <input asp-for="Password" class="form-control" />
                </div>
            </div>
            <div class="form-group row">
                <div class="col-2">
                    <label asp-for="Role">Role:</label>
                </div>
                <div class="col-8">
                    <input asp-for="Role" class="form-control" />
                </div>
            </div>
            <br />
            <div class="form-group">
                <input type="submit" class="btn btn-primary" asp-route-id="@Model.Id" value="Update" />
            </div>
        </div>
    </form>
</div>
<style>
    .p-5.border.rounded {
        font-size: 18px;
        color: black;
    }
</style>

