
@{
    Layout = null;
}

<div class="text-info text-bold" style="text-align:center">
    CHÚC MỪNG BẠN ĐÃ ĐĂNG KÝ THÀNH CÔNG !!!

</div>
<div class="text-info text-bold" style="text-align:center">
    <h2>BẤM ĐĂNG NHẬP ĐỂ TIẾP TỤC VÀO MUA HÀNG !!!!!!!</h2>
    <a asp-area="Guest" asp-controller="Guest" asp-action="Login1"><button>Đăng Nhập</button></a>
</div>
