
@{
    ViewData["Title"] = "Contact";
    //Layout = null;
}

    <article>
        <div class="content_contact">
            <div class="_2col">
                <div class="col_left">
                    <h4>Contact information</h4>
                    <p>Address: 34/11 Võ Văn Ngân, Trường Thọ, Thủ Đức</p>
                    <p>Phone: 033654547</p>
                    <p>email: <a href="">truongtinh110399@gmail.com</a></p>
                    <p>Website:~~~~~~~~~~~~~~</p>

                </div>
                <div class="col_right">
                    <input type="text" placeholder="  Your Name" class="_1">
                    <input type="text" placeholder="  Your Email" class="_2">
                    <input type="text" placeholder="  Subject" class="_3">
                    <input type="text" placeholder="  Message" class="_4">
                    <a asp-action="Index" asp-controller="Home"><button>Send Message</button></a>
                </div>
            </div>
        </div>
    </article>
